

li{list-style: none;}
body, html { overflow-x:hidden; }
.nav-item > a, .navbar-brand{
    color:white !important;
}
.navbar-toggle >span{background: white !important;}
.nav-item:hover >a{color:#dadada !important;}
.my-nav{background:#348899 !important;}
.open > a{text-decoration: underline !important;background: unset !important}

@font-face{
    font-family: motherboard-font;
    src: url('fonts/PrintedCircuit.ttf');
}
.navbar-header{
    display:flex;
}
.navbar-brand{font-family: motherboard-font;flex:1;text-align: center;}
.search-form-header{display:none;}
.search-button, .hide-search-input-container{line-height: 2.1;color:white !important;}
/* .search-input-group{margin-top:8px;} */
.search-form-group{display:inline-block;margin-bottom: 0 !important;}
.navbar-toggle{margin-right:0;margin-left: 12px;}
.navbar-form{margin-top:0;}

ul.dropdown-menu> li>a:hover{text-decoration: underline;}

footer {overflow: hidden;
    background:#343642;
    min-width:100%;
    margin-top: 35px;}

footer p{text-align: center;}
footer p:first-child{
    color:white;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    cursor: default;
}
#v_us{margin-top: 10px;}
#social a{
    background-color:#E2E2E2;
    border-radius: 50px;
    color:#4e4d4d;
    display: inline-block;
    font-size: 13px;
    margin:0 10px;
    padding:8px;
    width:35px;
}
#social a:hover{color:white;}
#social a:first-child:hover{background:#4267b2;}
#social a:nth-child(2):hover{background:#1da1f2;}
#social a:last-child:hover{background:#de5245;}
#cr{color:#BEC4C8;font-size:12px;}

@media only screen and (max-width:767px){
    .navbar-default .navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav .open .dropdown-menu {
        color:white !important;
    }
    form.navbar-form.navbar-right{display: none;}
    .search-form-header{display:inline-block;}
}