

/* This is the base CSS for all product list pages
    Motherboard list page use this CSS...
    RAM, Graphic Card, CPU page,just overwrite some CSS
*/
body{background: #F0F0F0;position: relative;}


a{text-decoration: none;}

#body{
    display: grid;
    font-family: "Roboto", Arial, sans-serif;
    grid-template-columns: 80% 20%;
}

#left_gr {padding:0 30px;}
#title-tag{border-bottom: 1px solid silver;padding:5px 0;}
#title-tag ul li{margin-top:5px;}
#title-tag h4{
    margin:0;
    display:inline-block;
    font-weight: bold;
    padding:10px;
    font-size: 14px;
    background:#348899;
    color: white;
    border-radius: 4px 4px 0px 0;
}
#filter-things li div, #title-tag li{display: inline-block;}
#filter-things li {
    font-size: 11px;
    background: #495057;
    border-radius: 10px;
    padding:3px 8px;
    color:white;
    cursor: pointer;
}
/* #filter-things li div:first-child:hover {} */
#filter-things li:hover{background:#348899;}
#filter-things {display: grid;grid-template-columns: 90% 10%;}

.filter-nav-btn {font-size: 16px;}
#go-filter-btn{
    display: none;
    text-align: end;
    float: right;
    line-height: 2.2;
}
.filter-nav-btn > div{cursor: pointer;display:inline-block;}
.filter-nav-btn > div:hover div, #go-filter-btn:hover > div{text-decoration: underline;color:#348899;}
.filter-nav-btn > div > div{display: inline-block;}

#left_gr ul{padding:0;}
#left_gr ul li {list-style: none;}

ul hr{margin-bottom:0;margin-top:15px;}
.pro_list_container li{
    background: white;
    border-radius: 3px;
    width: 238px;
    height:353px;
    margin-right: 8px;
    margin-bottom: 13px;
    float:left;
    /* border: 1px solid; */
    padding:7px;
    transition: 0.05s
}
.pro_list_container li:hover{
    -moz-box-shadow:0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.2);
    box-shadow:0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.2)
}
li .pro_img{ 
    height:154px;
    overflow: hidden;
    width:222PX;   
}
li p{margin:0;}
li .pro_title{font-size: 15px;font-weight: bold;min-height: 43px;}

li p a{color:#348899;}
li p a:hover{text-decoration: underline;}
.summary_spec {color:#6E6E6E;font-size: 14px}
.summary_spec p{cursor: default;}
.to_spec{font-size:12px;}
.to_spec a{color:#348899;}
.to_spec a:hover{text-decoration:underline;}
.pro_share{font-size:18px;text-align: end;}
.pro_share a:first-child{color:rgb(66, 103, 178);}
.pro_share a:nth-child(2){color:#dd4b39;}
.pro_share a:nth-child(3){color:#1da1f2;}

.price-check{overflow: hidden;}
.price-check p{cursor: default;}
.price-check p:first-child{
    float: left;
    font-size:15px;
    font-weight: bold;
}
.price-check p a{
    background: #FF9900;
    border-radius: 15px;
    float:right;
    font-size: 12px;
    font-weight: bold;
    color:white;
    padding:4px 10px;
}


/*  Right grid */
#right_gr{
    background:#348899;
    border:1px solid white;
    color:white;
    padding:10px;
}
.each_filter_cont + .each_filter_cont{margin-top:10px;}
#right_gr hr{border-color: white;margin-top:35px;}

.each_filter_cont p{
    font-size:13px;
    font-weight: bold;
    margin-bottom:0;
}
.each_filter_cont ul{margin:0;padding-left:5px;}
.each_filter_cont ul li{list-style: none;font-size:12px;}

.apply-filter-btn-out{text-align: end;font-weight: bold;}
.apply-filter-btn>button:last-child{font-weight: bold;background: #FF9900;color:white !important;}
.apply-filter-btn>button:last-child:hover{background: #E98D03;}
#filter-window{
    width:100%;
    height: 100%;
    position: absolute;
    background: white;
    top:0;
    left:100%;
    transition: left 0.2s linear;
    padding:15px;
}
#top-filter-btn {text-align: unset;overflow: hidden;}
#back-filter-btn{float: left;line-height:2.1}
#top-filter-btn > div:last-child{float: right;}

#filter-window ul li{display:inline-block;}


@media only screen and (max-width:960px){
    #right_gr{display:none;}
    #body{
        display: block;
        max-width: 800px;
        margin: 0 auto;
    }

    #go-filter-btn{display:block;}
    .pro_list_container li{
        width: 100%;
        float: unset;
        margin-right: unset;
        display:grid;
        grid-template-columns: 40% 58%;
        grid-gap:2%;
        height: unset !important;
    }
    .pro_list_container li hr{display:none;}
    li .pro_img{position: relative;width: unset;}
    li .pro_img img{position: absolute;}
}


@media only screen and (max-width:678px){
    #filter-things{display:block;}
    #filter-things > ul{display: none;}

    #left_gr{padding:0 5px;}
    .pro_list_container li{
        border-bottom: 1px solid silver;
        margin-bottom: 0;
    }
}