{% extends "base.html" %}	
{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap %}
{% block title %}Computer Spec | Add Mainboard Product{% endblock title %}
{% block staticfiles %}
    <link rel="stylesheet" href="{% static 'forms/pro_form_base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">

{% block form_static %}
{% endblock form_static %}
{% endblock staticfiles %}

{% block content %}
    <div id="main_wrapper">
        <p id='form_telling'>Select Product Type</p>
        
        <div id="inner_wrapper">
            <div id="form_l_grid">
                <div class='form_pro_menu box' id='form_add_menu'>
                    <ul>
                        <li>
                            <a href="{% url 'mainboard:mainboard_form' %}">
                                <p><img src="{% static 'imgs/logo/product_form/mainboard.png' %}" alt="mainboard" width='35'></p>
                                <p>MAINBOARD</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p><img src="{% static 'imgs/logo/product_form/cpu.png' %}" alt="cpu" width='35'></p>
                                <p>CPU</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p><img src="{% static 'imgs/logo/product_form/video-card.png' %}" alt="graphic card" width='35'></p>
                                <p>GRAPHIC CARD</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p><img src="{% static 'imgs/logo/product_form/ram.png' %}" alt="RAM" width='35'></p>
                                <p>RAM</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <form action='' method="post" enctype="multipart/form-data" id="form_cente_right_gr">
                {% csrf_token %}                       
                <div id="r_l_grid">
                    <div id="pro_form_main" class='box'>
                        <p class="form_title">Mainboard{% block form_title %}{% endblock form_title %}</p>  <!-- Product Name -->
                        
                        {% block product_form %}
                        
                        {% endblock product_form %} <!-- Each product form -->
                        
                        <p id='sub_btn_p'><input type="submit" value="SUBMIT" id='f_sub_btn'></p>
                    </div>
                    
                </div>
                <div id="r_r_grid">

                    <!-- ######## Market Form -->
                    <div id="r_r_t_grid" class='box'>
                        <p class='form_title'>Market</p>
                        <div class='market-each-box'>
                            {{ market_form | bootstrap}}

                            <div class="form-group">
                                <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                                <div class="input-group">
                                    <div class="input-group-addon">$</div>
                                    <input type="text" class="form-control" id="exampleInputAmount" name='prize' placeholder="Amount">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="url" class="form-control" name='link' placeholder="URL">
                            </div>

                            <hr style="border:1px solid #aaa">
                        </div>
                        <div id='market_form_btn'>
                            <p id='add_market_btn'><i class="fas fa-plus">&nbsp;</i>Add market</p>
                            <p id='remove_market_btn'><i class="fas fa-minus">&nbsp;</i>remove</p>
                        </div>
                    </div>
                    
                    <!-- End market Form ######### -->

                    <!-- ###### Image form -->
                    <div id="r_r_b_grid" class='box'>
                        <p class='form_title'>Image</p>
                        <div id="form_img_wrapper">

                            
                            <div class='form_img_box'>
                                <a>
                                    <p style="color:green;"><i class="fas fa-plus"></i></p>
                                    <div>
                                        <input type="file" accept="image/jpeg,image/gif,image/png" name='image'>
                                    </div>
                                </a>
                            </div>
                            <div class='form_img_box'>
                                <a>
                                    <p style="color:green;"><i class="fas fa-plus"></i></p>
                                    <div>
                                        <input type="file" accept="image/jpeg,image/gif,image/png" name='image'>
                                    </div>
                                </a>
                            </div>
                            <div class='form_img_box'>
                                <a>
                                    <p style="color:green;"><i class="fas fa-plus"></i></p>
                                    <div>
                                        <input type="file" accept="image/jpeg,image/gif,image/png" name='image'>
                                    </div>
                                </a>
                            </div>
                            <div class='form_img_box'>
                                <a>
                                    <p style="color:green;"><i class="fas fa-plus"></i></p>
                                    <div>
                                        <input type="file" accept="image/jpeg,image/gif,image/png" name='image'>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% block scripts %}
        <script src="{% static 'forms/pro_form_base.js' %}"></script>
    {% endblock scripts %}
    {{ info_form.media }}
{% endblock content %}


