
{% extends "base.html" %}
{% load static %}       
{% block staticfiles %}     
    <link rel="stylesheet" href="{% static 'css/pro_list_base.css' %}">
    <link rel="stylesheet" href="{% static 'css/mainboard/mainboard_list.css' %}">
{% endblock staticfiles %}
{% block content %} 
    <div id="body">
        <div id="left_gr">
            <div id="title-tag">
                <h4>MOTHERBOARD</h4>
                <div class='filter-nav-btn' id="go-filter-btn">
                    <div>Filter</div>
                    <div><i class="fas fa-angle-right"></i></div>
                </div>
                <div id="filter-things">
                    <ul>
                        {% for val in all_filter_val %}
                            <li>
                                <div class="del-tag-icon"><i class="fas fa-times-circle"></i></div>
                                <div class="tag-name">{{ val.name }}</div>
                            </li>
                            {% endfor %}
                    </ul>
                    <!-- <div id="shotcut-filter">
                        <select name="filter" id="select-filter-box">
                            <option value="Most "></option>
                        </select>
                    </div> -->
                </div>
            </div>

            <div class="pro_list_container">
                <ul>
                    {% for moth in all_moths %}                    
                        <li>
                            <div class="pro_img">
                                <a href="{{ moth.get_absolute_url }}">
                                    <!-- <img src="{{ moth.image_set.all.1.image.url }}" alt="" width="100%" /> -->
                                    <img src="{{ moth.get_image }}" alt="" width="100%" />
                                </a>
                            </div>
                            <hr>
                            <div class="pro_cont">
                                <p class="pro_title"><a href="{{ moth.get_absolute_url }}">{{ moth.name }} </a></p>
                                <div class="summary_spec">
                                    <p><small>Socket Type : {{ moth.socket_type.name }}</small></p>
                                </div>
                                <p class="to_spec"><a href="{{ moth.get_absolute_url }}">Read Spec</a></p>
                                <div class="pro_share">
                                    <a href=""><i class="fab fa-facebook"></i></a>
                                    <a href=""><i class="fab fa-google-plus-square"></i></a>
                                    <a href=""><i class="fab fa-twitter-square"></i></a>
                                </div>
                                <div class="price-check">
                                    <p>14.99$</p>
                                    <p><a href="{{ moth.get_absolute_url }}">CHECK IT OUT</a></p>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% if all_moths.paginator.num_pages > 1%}
            <div class="pagination">
                <span class="step-links">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            {% if all_moths.has_previous %}
                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            {% endif %}

                            <!-- {% for i in all_moths.paginator.page_range %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}"> {{ i }}</a></li>
                            {% endfor %} -->

                            {% for l in  all_moths.paginator.page_range %}
                                {% if l <= all_moths.number|add:5 and l >= all_moths.number|add:-5 %}
                                    <li><a href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if all_moths.has_next %}
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            {% endif %}
                        </ul>
                    </nav>

            </div>
            {% endif %}
        </div>
        
        <!-- Filter Section -->
        <div id="right_gr">
            <div id="nth_head"></div>
            <hr>
            <div id="filter_cont">
                <form action="" method="get">
                    <div class="each_filter_cont">
                        <p>Motherboard Form Factor :</p>
                        <ul>
                            {% for inst in form_factors %}
                            <li>
                                <input {% if inst in form_factor_compare %} checked {% endif %}  type="checkbox" value="{{ inst.name }}" name="form_factor"/>&nbsp; &nbsp;{{ inst.name }}
                            </li>
                            {% endfor %}
                            <li class="apply-filter-btn apply-filter-btn-out"><button class="btn btn-xs" type="submit">APPLY</button></li>
                        </ul>
                    </div>
        
                    <div class="each_filter_cont">
                        <p>Socket Type :</p>
                        <ul>
                            {% for inst in sockets %}
                            <li>
                                <input {% if inst in socket_compare %} checked {% endif %}  type="checkbox" value="{{ inst.name }}" name="socket"/>&nbsp; &nbsp;{{ inst.name }}
                            </li>
                            {% endfor %}
                            <li class="apply-filter-btn apply-filter-btn-out"><button class="btn btn-xs" type="submit">APPLY</button></li>
                        </ul>
                    </div>
        
                    <div class="each_filter_cont">
                        <p>Brand :</p>
                        <ul>
                            {% for inst in companies %}
                            <li>
                                <input {% if inst in company_compare %} checked {% endif %} type="checkbox" value="{{ inst.name }}" name="company"/>&nbsp; &nbsp;{{ inst.name }}
                            </li>
                            {% endfor %}
                            <li class="apply-filter-btn apply-filter-btn-out"><button class="btn btn-xs" type="submit">APPLY</button></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="filter-window">
            <form action="" method="get">
                <div class='filter-nav-btn ' id="top-filter-btn">
                    <div id="back-filter-btn"> 
                        <div><i class="fas fa-angle-left"></i></div>
                        <div>Back</div>
                    </div>
                    <div class="apply-filter-btn apply-filter-btn-in">
                        <button class="btn btn-md" type="reset">Reset</button>
                        <button class="btn btn-md" type="submit">Go</button>
                    </div>
                </div>
            <hr style="margin-top:10px;">
            <div id="filter_cont">
                <div class="each_filter_cont">
                    <p>Motherboard Form Factor :</p>
                    <ul>
                        <li>
                            <input type="checkbox" name="atx"/>&nbsp; &nbsp;ATX
                        </li>
                        <li>
                            <input type="checkbox" name="atx"/>&nbsp; &nbsp;Micro ATX
                        </li>
    
                        <li>
                            <input type="checkbox" name="atx"/>&nbsp; &nbsp;Mouse ATX
                        </li>
                        <li>
                            <input type="checkbox" name="atx"/>&nbsp; &nbsp;GYGABYTE
                        </li>
                    </ul>
                </div>
    
                <div class="each_filter_cont">
                    <p>Socket Type :</p>
                    <ul>
                        <li>
                            <input type="checkbox" name="atx"/>&nbsp; &nbsp;LGA1151
                        </li>
                        <li>
                            <input type="checkbox" name="atx"/>&nbsp; &nbsp;LGA1155
                        </li>
    
                        <li>
                            <input type="checkbox" name="atx"/>&nbsp; &nbsp;LGA1156
                        </li>
                        <li>
                            <input type="checkbox" name="atx"/>&nbsp; &nbsp;MA501
                        </li>
                    </ul>
                </div>
    
                <div class="each_filter_cont">
                    <p>Brand :</p>
                    <ul>
                        <li>
                            <input type="checkbox" name="atx"/>&nbsp; &nbsp;GYGABYTE
                        </li>
                        <li>
                            <input type="checkbox" name="atx"/>&nbsp; &nbsp;ASUS
                        </li>
    
                        <li>
                            <input type="checkbox" name="atx"/>&nbsp; &nbsp;ACER
                        </li>
                        <li>
                            <input type="checkbox" name="atx"/>&nbsp; &nbsp;ALIEN
                        </li>
                    </ul>
                </div>
                <!-- <input type="submit" name="submit" value="GO"> -->
                <div class="apply-filter-btn-in apply-filter-btn" style="margin-top:15px;text-align: center;">
                    <button class="btn btn-md" type="reset">Reset</button>
                    <button class="btn btn-md" type="submit">Go</button>
                </div>     
            </div>
        </form>
    </div>
{% endblock content %}

{% block scripts %}
    
    <script>
        (function($) {
            var filter_btn = $("#go-filter-btn > div");
            var back_filter_btn = $("#back-filter-btn");
            var filter_window = $("#filter-window");

            filter_btn.click(function(){
                filter_window.css("left",0);
            })
            back_filter_btn.click(function(){
                filter_window.css("left","100%");
            })

        })(jQuery);

    </script>
{% endblock scripts %}
