
{% extends "base.html" %}
{% load static %}
{% block staticfiles %}
    <link rel="stylesheet" href="{% static 'snippet/css/pn-slide-container.css' %}">
    <link rel="stylesheet" href="{% static 'css/pro_detail_base.css' %}">
{% endblock staticfiles %}     
{% block content %}
    <div id="detail-main">
        <p>{{ mainboard.company.name}} - {{ mainboard.name }}</p>
        <hr />
    
        <div id="m_bottom">
            <div id="right_grid">
                <div id="r_g_up">
                    <!-- share logo and rate stars -->
                    <div id="sh_rate">
                        <div>
                            <i class="fab fa-facebook"></i>
                            <i class="fab fa-google-plus-square"></i>
                            <i class="fab fa-twitter-square"></i>
                        </div>
                        <div>
                            <span>Rate stars</span>
                        </div>
                    </div>
                    
                    <!-- Sliding picture -->
                    <div id="border_right">
                        <div id="sli_pic">
                            <div data-to="left"><p> <i class="fas fa-angle-left"></i></p></div>
                            <div data-to="right"><p> <i class="fas fa-angle-right"></i></p></div>
                        </div>
                    </div>
                    <div id="pho_change">
                        <ul>
                            {% for img_instance in mainboard.image_set.all %}
                                <li><img src="{{ img_instance.image.url }}" width="100%" alt=""/></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
    
                <!-- Available market for product -->
                <div id="r_g_bottom">
                    {% if mainboard.mainboard_market_set.count > 0 %}
                    <table id="market">
                        <tr>
                            <td align="center"><div class="buy_logo" id="avail_logo">Available</div></td>
                        </tr>
                        {% for market in mainboard.mainboard_market_set.all %}
                            <tr>
                                <td colspan="2"><a target="_blank" href="{{ market.link }}"><img src="{{ market.market.img.url }}" width="100" alt="newegg logo"/></a></td>
                                <td></td>
                                <td align="right" class="market_cost">{{ market.prize }}$</td>
                                <td align="right"><a target="_blank" href="{{ market.link }}"><div class="buy_logo">Check</div></a></td>
                            </tr>
                        {% endfor %}
                    </table>
                    {% endif %}
                </div>
            </div>
    
            <div id="left_grid">
                <div style="margin-top:36px;"></div>
                <div id="lef_m_grid">
                    <div id="lef_lef_gr">
                        <div id="spec-table-container">
                            <div id="first-display">
                                <div class="row-container">
                                    <div class="col1">
                                        Socket Type
                                    </div>
                                    <div class="col2 markdown-content">
                                        {{ mainboard.socket_type.name }}
                                    </div>
                                </div>
                                <div class="row-container">
                                    <div class="col1">
                                        CPU
                                    </div>
                                    <div class="col2 markdown-content">
                                        {{ mainboard.cpu_des|linebreaks  }}
                                    </div>
                                </div>
                                <div class="row-container">
                                    <div class="col1">
                                        Memory
                                    </div>
                                    <div class="col2 markdown-content">
                                        {{ mainboard.memmory_des|linebreaks   }}
                                    </div>
                                </div>
                                <div class="row-container">
                                    <div class="col1">
                                        Storage
                                    </div>
                                    <div class="col2 markdown-content">
                                        {{ mainboard.storage_des|linebreaks }}
                                    </div>
                                </div>
                                <div class="row-container">
                                    <div class="col1">
                                        Rear Panel
                                    </div>
                                    <div class="col2 markdown-content">
                                        {{ mainboard.rear_panel_des|linebreaks  }}    
                                    </div>
                                </div>
                                <div class="row-container">
                                    <div class="col1">
                                        Onboard Graphic
                                    </div>
                                    <div class="col2 markdown-content">
                                        {{ mainboard.onboard_gpu_des|linebreaks  }}
                                    </div>
                                </div>
                                <div class="row-container" id="see-more-btn">
                                    <div class="col1">
                                        Expansion Slot
                                    </div>
                                    <div class="col2 markdown-content">
                                        {{ mainboard.expand_slot_des|linebreaks  }}
                                    </div>
                                </div>
                            </div>
                            <div id="second-display">
                                
                                <div class="row-container">
                                    <div class="col1">
                                        Audio
                                    </div>
                                    <div class="col2 markdown-content">
                                        {{ mainboard.audio_des|linebreaks  }}
                                    </div>
                                </div>
                                <div class="row-container">
                                    <div class="col1">
                                        Multi-Graphic Card
                                    </div>
                                    <div class="col2 markdown-content">
                                        {{ mainboard.multi_gpu_des|linebreaks  }}
                                    </div>
                                </div>
                                <div class="row-container">
                                    <div class="col1">
                                        Internal I/O Connectors
                                    </div>
                                    <div class="col2 markdown-content">
                                        {{ mainboard.interal_des|linebreaks  }}
                                    </div>
                                </div>
                                <div class="row-container">
                                    <div class="col1">
                                    Size
                                    </div>
                                    <div class="col2 markdown-content">
                                        {{ mainboard.size }}
                                    </div>
                                </div>
                                <div class="row-container">
                                    <div class="col1">
                                        Form Factor
                                    </div>
                                    <div class="col2 markdown-content">
                                        {{ mainboard.form_factor.name }}
                                    </div>
                                </div>
                                <div class="row-container " id="last-row-container">
                                    <div class="col1">
                                        Chipset
                                    </div>
                                    <div class="col2 markdown-content">
                                        {{ mainboard.chipset.name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End left main grid -->
            </div>
            <!-- End Specificaiton table -->
            <div id="all_support_pro">
                {% if supp_cpu.count > 0 %}
                <div class="support_pro">
                    <p>SUPPORTED CPU</p>
                    <div class="pn-ProductNav_Wrapper">
                        <nav id="" class="pn-ProductNav pnProductNav">
                            <div id="" class="pn-ProductNav_Contents pnProductNavContents">
                                
                                {% for pro in supp_cpu %}
                                <div href="#" class="pn-ProductNav_Link" aria-selected="true"> 										
                                    <div class="pro_box">
                                        <div class="pro_img">
                                            <a href="{{ pro.get_absolute_url }}">
                                                <img src="{{ pro.get_image }}" width="100%" alt="product-img"/>
                                            </a>
                                        </div>
                                        <hr style="margin:0;">
                                        <div class="recom_pro_title">
                                            <a href="{{ pro.get_absolute_url }}">{{ pro.name }}</a>
                                        </div>
                                        <p class="read_spec"><a href="#">Read Spec</a></p>
                                        <div>
                                            <p class="pro_price">14.99$</p>
                                            <a href="{{ pro.get_absolute_url }}" class="check_butt">CHECK IT OUT</a>
                                        </div>
                                    </div>
                                </div>

                                {% endfor %}
                            </div>
        
                        </nav>
                        <button  class="pn-Advancer pn-Advancer_Left pnAdvancerLeft" type="button">
                            <svg class="pn-Advancer_Icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 551 1024"><path d="M445.44 38.183L-2.53 512l447.97 473.817 85.857-81.173-409.6-433.23v81.172l409.6-433.23L445.44 38.18z"/></svg>
                        </button>
                        <button  class="pn-Advancer pn-Advancer_Right pnAdvancerRight" type="button">
                            <svg class="pn-Advancer_Icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 551 1024"><path d="M105.56 985.817L553.53 512 105.56 38.183l-85.857 81.173 409.6 433.23v-81.172l-409.6 433.23 85.856 81.174z"/></svg>
                        </button>
                    </div>
                </div>
                {% endif %}

                {% if supp_ram.count > 0 %} 
                <div class="support_pro">
                    <p>SUPPORTED RAM</p>
                    <div class="pn-ProductNav_Wrapper">
                        <nav id='' class="pn-ProductNav pnProductNav">
                            <div id="" class="pn-ProductNav_Contents pnProductNavContents">
                                {% for pro in supp_ram %}
                                <div href="#" class="pn-ProductNav_Link" aria-selected="true"> 										
                                    <div class="pro_box">
                                        <div class="pro_img">
                                            <a href="{{ pro.get_absolute_url }}">
                                                <img src="{{ pro.get_image }}" width="100%" alt="product-img"/>
                                            </a>
                                        </div>
                                        <hr style="margin:0;">
                                        <div class="recom_pro_title">
                                            <a href="{{ pro.get_absolute_url }}">{{ pro.get_name }}</a>
                                        </div>
                                        <p class="read_spec"><a href="#">Read Spec</a></p>
                                        <div>
                                            <p class="pro_price">14.99$</p>
                                            <a href="{{ pro.get_absolute_url }}" class="check_butt">CHECK IT OUT</a>
                                        </div>
                                    </div>
                                </div>

                                {% endfor %}

                            </div>
                            
                        </nav>
                        <button id="" class="pn-Advancer pn-Advancer_Left pnAdvancerLeft" type="button">
                            <svg class="pn-Advancer_Icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 551 1024"><path d="M445.44 38.183L-2.53 512l447.97 473.817 85.857-81.173-409.6-433.23v81.172l409.6-433.23L445.44 38.18z"/></svg>
                        </button>
                        <button id="" class="pn-Advancer pn-Advancer_Right pnAdvancerRight" type="button">
                            <svg class="pn-Advancer_Icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 551 1024"><path d="M105.56 985.817L553.53 512 105.56 38.183l-85.857 81.173 409.6 433.23v-81.172l-409.6 433.23 85.856 81.174z"/></svg>
                        </button>
                    </div>
                </div>
                {% endif %}

                {% if supp_gpu.count > 0 %}
                <div class="support_pro">
                    <p>SUPPORTED GRAPHIC CARD</p>
                    <div class="pn-ProductNav_Wrapper">
                        <nav id="" class="pn-ProductNav pnProductNav">
                            <div id="" class="pn-ProductNav_Contents pnProductNavContents">
                                {% for pro in supp_gpu %}
                                <div href="#" class="pn-ProductNav_Link" aria-selected="true"> 										
                                    <div class="pro_box">
                                        <div class="pro_img">
                                            <a href="{{ pro.get_absolute_url }}">
                                                <img src="{{ pro.get_image }}" width="100%" alt="product-img"/>
                                            </a>
                                        </div>
                                        <hr style="margin:0;">
                                        <div class="recom_pro_title">
                                            <a href="{{ pro.get_absolute_url }}">{{ pro.name }}</a>
                                        </div>
                                        <p class="read_spec"><a href="#">Read Spec</a></p>
                                        <div>
                                            <p class="pro_price">14.99$</p>
                                            <a href="{{ pro.get_absolute_url }}" class="check_butt">CHECK IT OUT</a>
                                        </div>
                                    </div>
                                </div>

                                {% endfor %}
                                                         
                            </div>
                            
                        </nav>
                        <button id="" class="pn-Advancer pn-Advancer_Left pnAdvancerLeft" type="button">
                            <svg class="pn-Advancer_Icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 551 1024"><path d="M445.44 38.183L-2.53 512l447.97 473.817 85.857-81.173-409.6-433.23v81.172l409.6-433.23L445.44 38.18z"/></svg>
                        </button>
                        <button id="" class="pn-Advancer pn-Advancer_Right pnAdvancerRight" type="button">
                            <svg class="pn-Advancer_Icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 551 1024"><path d="M105.56 985.817L553.53 512 105.56 38.183l-85.857 81.173 409.6 433.23v-81.172l-409.6 433.23 85.856 81.174z"/></svg>
                        </button>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script src="{% static 'snippet/js/pn-slide-container.js' %}"></script>
    <script src="{% static 'js/pro_detail_base.js' %}"></script>       

{% endblock scripts %}
